@import "./partials/variables";
@import "./partials/animations";

.v-input::placeholder:not {
	color: #999!important;
}
.v-messages__wrapper>*:not(.error--text) {
	color: #ff5252!important;
}
.testingRadio>.v-input--selection-controls__input,.testingRadio .v-input--selection-controls__input{
	margin: 0px auto 30px !important;
	text-align:center !important;

}
.testingRadioLabel{
	text-align:center !important;
	margin-bottom:0 !important;
}
.v-radio{
	margin-right:0 !important;
}